node_modules
package-lock.json
yarn.lock

!.env
.DS_Store
.cache
.vercel
.output
.vinxi

/build/
/api/
/server/build
/public/build
.vinxi

# Web app specific
apps/web/.output
apps/web/.vinxi

# Mobile app specific
apps/mobile/.expo
apps/mobile/dist

# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env.local
.vscode/launch.json
